.number-of-transfers {
  &__list {
    @media (min-width: 200px) and (max-width:1550px) {
      display: flex;
      flex-wrap: wrap;
    }

    @media (min-width: 602px) and (max-width:832px) {
      justify-content: space-between;
    }

    @media (min-width: 500px) and (max-width:601px) {
      justify-content: center;
    }

    @media (min-width: 200px) and (max-width:500px) {
      flex-direction: column;
    }
  }
}
