@import "pages/Storage/style";
@import "components/CurrencyBlock/style";
@import "components/CustomCheckbox/style";
@import "components/CustomCurrency/style";
@import "components/Loader/style";
@import "components/Logo/style";
@import "components/NumberOfTransfersBlock/style";
@import "components/TicketElement/style";

body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F3F7FA;
}

button::-moz-focus-inner {
  border: 0;
  outline: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}