@import "pages/Storage/style";

@import "blocks/CurrencyBlock/currencyBlock";
@import "blocks/NumberOfTransfersBlock/numberOfTransfersBlock";

@import "components/CustomCheckbox/customCheckbox";
@import "components/CustomCurrency/customCurrency";
@import "components/Loader/loader";
@import "components/Logo/logo";
@import "components/TicketElement/ticketElement";

body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F3F7FA;
}

button::-moz-focus-inner {
  border: 0;
  outline: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App-header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
  background-color: #FFF;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}